@import 'colors.less';
@import 'main.less';
@import 'login.less';

html,
body,
#react,
#react > div,
#react > div > .Aligner
{
    height: 100%;
}

body
{
    font-family: 'Segoe Ui', sans-serif;
    background-color: @background-color;
    margin: 0;
}

.Aligner
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide
{
    display: none;
}

.text-center
{
    text-align: center;
}